/* Diana Alibekova */
/* Portfolio */


html {
  scroll-behavior: smooth;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 2%;
}

button {
  background: orange;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-family: 'Roboto';
  position: relative;
  left: 5%;
  margin: 3%;
  padding: 1% 1%;
  width: 17%;
  border: 0;
  border-radius: 999px;
  line-height: 1.5rem;
  cursor: pointer;
}
button:hover {
  background: #00008B;
}


/* Section about me starts here */
/* structuring the text on the right side of the image was based on the layout on https://www.codingnepalweb.com/about-us-page-html-css/ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.about_me{
  height: 100%;
  width: auto;
  padding: 100px 0 100px 0;
  display: flex;
}

.me{
  width:  350px;
  height: auto;
}

.personal_info{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info{
  width: 50%;
}

.info h1{
  font-family: 'Acme';
  font-size: 65px;
  margin: 15px 0;
}

.info h4{
  font-size: 25px;
  margin-bottom: 20px;
}

span{
  color: #f8971c;
  font-weight: bold;

}

.info p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.social{
  margin-top: 40px;
}

.social-link {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.social-link:hover{
    /* background: orange; */
    shadow: 10px 10px 5px 5px orange;
    opacity: 0.5;
}

/* SECTION WITH PROJECTS STARTS HERE */
/* THE PROJECT IN COMMLAB */
.projects {
  text-align: center;
  height: 65%;
  width: auto;
  padding: 100px 0 100px 0;
}

/* The project images are in two rows and two columns, so four photos of projects in two rows */
.project-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.project-row {
  display: flex;
  justify-content: center;
}

.project-item {
  flex: 0 0 calc(30% - 10px);
  margin: 5px 5px 15px 5px;
}

.project-item img {
  width: 75%;
  height: auto;
  align-content: center;
  border-radius: 10%;
}
.project-item img:hover {
  color: #e27038;
  box-shadow: 0 0 10px 10px gray;
  opacity: 0.8;
}

a {
    text-decoration: underline;
    font-weight: bold;
    font-family: Rubik, PT Sans, Lato;
    color: black;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
}

/* SECTION WITH PROJECTS IN DIFFERENT ORGANIZATIONS STARTS HERE*/
/* the specifics of the images in each row such as the distance between images, size of them, alignment and hover */
.project-item-2 {
  flex: 0 0 calc(30% - 10px);
  margin: 5px 5px 15px 5px;
}

.project-item-2 img {
  width: 70%;
  height: auto;
  align-content: center;
  margin-top: auto;
  border-radius: 50%;
}
/* the orange hover with shadow appears when the mouse is over the image */
.project-item-2 img:hover {
  color: #111;
  box-shadow: 0 0 20px 20px orange;
  opacity: 0.8;
}

/* every sub-heading (h2) such as "Graphic Design", "Take off Your Crown", "Videography" and etc has the same design */
h2{
  position: relative;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  font-family: Rubik, PT Sans, Lato;
  color: #00008B;
  margin: 10px;
}

/* every sub-heading (h3) such as "Posters and Merch", "The design of the Album Cover", "Instagram Reels" and etc has the same design */
h3{
  position: relative;
  font-size: 30px;
  text-align: center;
  font-family: Rubik, PT Sans, Lato;
  font-weight: normal;
  color: #666;
  padding: 0;
  margin: 10px 10px 0 10px;
}

h5{

  position: relative;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  font-family: Rubik, PT Sans, Lato;
  color: #00008B;
  margin: 10px;

}

/* the text under the logo of each organization I have the graphic design of */
.project_description {
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #333;
  margin:10px;
  padding-top: 5px;
}

/* DESIGN OF PAGE "HEYME" STARTS HERE */
/* The design follows the "about me" page design */
.about_heyme{
  height: 100%;
  width: auto;
  padding: 100px 0 100px 0;
}
.heyme{
  height: auto;
  width:  40%;
}
.about_brand{
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: top;
  justify-content: space-around;
}

/* the text design */
.description{
  width: 35%;
}
.description h1{
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Roboto';
}
.description h5{
  font-size: 25px;
  background-color: orange;
    text-align: left;
    padding: 10px;
    margin: 0;
}

.description p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

/* DESIGN OF PAGE "QAZAQ SIG" STARTS HERE */
/* The design follows the "about me" page design */

.about_qazaq {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .about_sig {
            flex: 1;
            display: flex;
            align-items: center;
        }

        .image-container {
            /* flex: 0 0 20%; /* Adjust the width of each image container */
            /* margin-right: 5px; /* Add margin for spacing between images and text */ */
        }

        .image-container img {
            width: 100%;
            height: auto;
            display: block;

        }

        .sig_purpose {
          width: 50%; /* Adjust the width of the text container */
      box-sizing: border-box;
      margin-right: 60px;
      margin-left: 60px;
        }


.kazakhstan{
  height: auto;
  width:  60%;
}

.igem{
  height: auto;
  width: 30%
}

.me{
  border-radius: 10%;
  color: #e27038;
  box-shadow: 0 0 10px 10px gray;
}



.sig_purpose h1{
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Roboto';
}
.sig_purpose h5{
  font-size: 25px;
  /* font-weight: 500; */
  margin-bottom: 20px;
}

.sig_purpose p{
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
}

/* SECTION WITH VIDEOS STARTS HERE */
/* arranging the content in columns and centering the items. Takes up whole screen width */
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.row {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.video {
    width: 60%;
    margin-bottom: 15px;
    margin-left: 20px;
}

.video video {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.last_notes {
  text-align: center;
  height: 25%;
  width: auto;
  padding: 50px 0 50px 0;
}


/* END OF MY LATOP SIZE PORTFOLIO'S CSS FILE */



/* BEGINNING OF CSS FOR MOBOLE SCREEN SIZE */

@media only screen and (max-width: 450px) {
  .container {
    max-width: 390px;
    margin: 0 auto;
    flex-direction: column;
  }

  .project-images {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .project-row {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .project-item {
    flex-direction: column;
    box-sizing: border-box;
  }

  .project-item img {
    width: 100%;
    height: auto;
  }

  .project_description {
    margin-top: 5px;
    text-align: center;
  }

  .button-container {
    display: none;
  }

  .button-container button {
    width: 50%;
    margin: 5px 0;
  }

  .about_me {
    padding: 50px 0;
    text-align: center;
  }

  .personal_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .me {
    width: 80%;
    height: auto;
  }

  .info {
   width: 100%;
   text-align: center;
 }

 .info h1, .info h4, h1, h2, h3, h4 {
   font-size: 24px;
 }

 h5 {
     margin: 20px 0;
 }

 h2{
   font-size: 28px
 }

 h3{
   font-size: 20px;
 }

 .info p {
   font-size: 16px;
   line-height: 22px;
   width: 100%;
 }

  .projects {
    padding: 25px 0;
    width: 100%;
    text-align: center;
  }

  .project-row {
    flex-direction: column;
    align-items: center;
  }

  .project-item {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  .project-item img {
    width: 100%;
    border-radius: 10%;
    order: -1;
  }

  .project_description {
    width: 100%;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    text-align: center;
  }

  .social {
    margin-top: 16px;
    text-align: center;
  }

  .about_qazaq {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }

  .about_sig {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .kazakhstan {
    width: 100%;
    height: auto;
    order: -1;
  }

  .video-container {
    width: 100%;
    text-align: center;
  }

  .row {
    flex-direction: column;
    font-size: 16px;
  }

  .video {
    width: 90%;
    margin: 10px auto;
  }

  .last_notes {
    padding: 50px 0;
    text-align: center;
  }

  h5 {
    font-size: 16px;
  }
  .info, .project_description, .social, .about_qazaq, .about_sig, .row {
    width: 100%;
  }

  .sig_purpose {
    width: 90%;
  box-sizing: border-box;
  margin-right: 60px;
  margin-left: 60px;
  }

  .sig_purpose p {
    font-size: 16px;
  }

  .sig_purpose h5 {
    font-size: 20px;
    font-weight: bold;
  }

  .social-link {
    width: 40px;  
    height: auto;
  }

}
/* END OF CSS OF MY PORTFOLIO */
